ul { 
    list-style-type: none;
    padding: 0;
}

input {
    float: left;
    width: 85%;
}

label {
    float: left;
    width: 15%;
}

.containerTop {
    border-radius: 5px;
    background-color: #f2f2f2;
    height: 25%;
}

.containerBot {
    border-radius: 5px;
    background-color: #f2f2f2;
    height: 60%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: 5%;
    border-radius: 5px;
}
